.pro-filter{
    border: 1px solid rgb(223, 222, 222);
}
.pro{
    border-top: 1px solid rgb(223, 222, 222);
    margin: 0;
    padding: 15px;
}
.cate-details{
    width: 100%;

}
.filter-cate{
    list-style: none;
}
.filter-cate > li{
    font-size: small;
}
.card{
    border-radius: 0 !important;
}
.pro_card{
    border: none;
    transition: transform 600ms;
}
.pro_Img{
    transition: transform 1s;
    height: 180px;
    width: 180px;
    margin: 10px auto;
}
.proBtn{
    background-Color: "#ff7b7b";
    visibility: hidden;
    transform: visibility ;
    /* transition-delay: 500ms; */
}
.pro_card:hover{
    box-shadow: 0px 4px 22px #f1e6e6;
}
.pro_card:hover > .proBtn{
    visibility: visible;
}
.pro_card:hover > .pro_Img {
    transform: scale(1.07, 1.07);
}
.pro-title{
    overflow: hidden;
    font-size: 14px;
    padding: 0;
}
.rate{
    color: #ff6b6b;
    margin: 0;
    padding: 10px 0px;
    font-size: large;
    font-weight: bolder;
}
.modalBack{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;
    background-color: #5e5e5e87;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myModal{
    position: absolute;
    width: 60%;
    height: 60vh;
    background-color: white;
    margin: 5% 20%;
    box-shadow: 2px 2px 32px #f1e6e6;
    display: flex;
}
.proDetailsImg{
    margin: 10%;
    height: 80%;
    width: auto;
}
.modalBottom{
    position: absolute;
    bottom: 10%;
}
.spin{
    position: fixed;
    z-index: 12;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #83838385;
}