.indBtn{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    margin-right: 16px !important;
    margin-left: 16px !important;
}
.content-top{
    background-color: white;
}
.card_cate{
    height: 150px;
    width: 150px;
    border: none;
    cursor:pointer;
}
.card-img{
    transition: transform 1s;
}
.card-img:hover{
    transform: scale(1.1, 1.1);
    /* transition-delay: 1000ms; */
}
.card_cate_title{
    padding-top: 5px;
    color: rgb(245, 172, 90);
}
.carousel{
    width: 97%;
}
.banner{
    margin: 50px 0px;
    height: 300px;
    overflow: hidden;
}