.input-group {
  width: 250px;
  margin-left: auto;
}
.bgNav {
  background-image: linear-gradient(
    to right,
    #ffeadd,
    #fcaeae,
    #ff8989,
    #ff6666
  );
  box-shadow: 0px 4px 22px #dfdcdc;
  padding: 5px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
.com-brand{
  color: #ff6666;
}
.nav-link{
  font-size: 14px !important;
}
.nav-link:hover {
  color: #ffffff !important;
}
.navbar-toggler:focus {
  box-shadow: none;
}
